.auto-Width {
    width: auto !important;
}
.btn-def2{
    background-color: #ffffff;
    width: auto;
    height: 36px;
   
    font-size: 10px;
     
    color: black;
    font-family: "Montserrat";
    font-weight: bold;
    cursor: pointer;
    border: 2px solid black;
}
.btn-def{
    background-color: #ffdf59;
    width: auto;
    height: 36px;
   
    font-size: 10px;
     
    color: black;
    font-family: "Montserrat";
    font-weight: bold;
    cursor: pointer;
}