<footer class="footer-content">
    <span class="ml-20px"> COPYRIGHT &copy; {{year}} Lehrstell.ch </span>

    <div class="all-menus">
        <span class="clickable menus" (click)="clearCacheData()">Cache-Daten löschen</span> | 
        <span class="clickable menus" (click)="navigateTo('/über-uns')">Über uns</span>| 
        <span class="clickable menus" (click)="navigateTo('/impressum')">Impressum</span> | 
        <span class="clickable menus" (click)="navigateTo('/datenschutzerklärung')">Datenschutzerklärung</span> | 
        <span class="clickable menus" (click)="navigateTo('/agb')">AGBs</span>
    </div>
</footer>


