<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- CSS only -->

<div class="header">
  <div class="yellow-border"> </div>



  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand clickable" (click)="navigateTo('/home')">
    <img src="assets/images/logo.png">
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

      <a class=" nav-link clickable" (click)="commonService.msStep=1;navigateTo('/motivation-sschreiben')">Motivationsschreiben</a>
    </div>
  </div>
</nav> -->


  <style>


  </style>



  <!-- <div class="">
   
<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title" (click)="navigateTo('/home')">
       
        <img src="assets/images/logo.png">
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  
  <div class="nav-links" style="z-index: 15515;">
    <a (click)="navigateTo('/cv-generator')" class="clickable" target="_blank">Lebenslauf</a>
    <a (click)="commonService.msStep=1;navigateTo('/motivation-sschreiben')" class="clickable" target="_blank">Motivationsschreiben</a>

   </div>
</div>
</div> -->
















  <!-- <div class="topnav" id="myTopnav">
  <a class="clickable" (click)="navigateTo('/home')">
    <img src="assets/images/logo.png">
  </a>
  <a (click)="navigateTo('/cv-generator')" class="clickable" target="_blank">Lebenslauf</a>
  <a (click)="commonService.msStep=1;navigateTo('/motivation-sschreiben')" class="clickable" target="_blank">Motivationsschreiben</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>



 -->
<nav class="navbar sticky-top navbar-expand-lg bg-dark" style="background: #fdf5df !important;">
    <div class="container">
      <a class="navbar-brand clickable" (click)="navigateTo('/home')">
        <img src="./assets/images/logo2.png" alt="">
      </a>
      <button class="navbar-toggler" onclick="myfunction2()" id="shs" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item active"> 
            <a (click)="navigateTo('/cv-generator')" class="nav-link clickable" target="_blank" onclick="myfunction3()">Lebenslauf</a>
          </li>
          <li class="nav-item">  
            <a (click)="commonService.msStep=1;navigateTo('/motivation-sschreiben')" class="nav-link clickable" onclick="myfunction3()" target="_blank">Motivationsschreiben</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
 


</div>




<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
 

  