@import "~bootstrap/scss/bootstrap";


.header {
    
      
    .yellow-border {
        background-color: #ffdf59;
        width: 100%;
        height: 39px;
    }
    .custom-navbar {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100px;
        background-color: #ffffff;
        .nav-logo {
            margin-left: 30px;
            width: 50%;
            img {
                width: 270px;
                height: 100px;
            }
        }
        .meue-names {
            margin-left: 10px;
            width: 50%;
            .items {
                display: flex;
                justify-content: space-around;
                width: 70%;
                span {
                    font-size: 16.8px;
                }
                .icon {
                    display: none;
                  }
            }
        }
    }
}



//Sayem

@media only screen and (min-width: 640px) and (max-width: 1080px)  {

    .header {
         
        .custom-navbar { 
            .nav-logo { 
                img {
                    width: 200px;
                    height: 70px;
                }
            }
            .meue-names { 
               
                .items { 
                    width: 90%;
                    span {
                        font-size: 12.8px;
                    }
                }
            }
        }
    }
    

    }

    @media only screen and (max-width: 768px) {
        .form-control{
            width: 160%;
            
        }
        .header {
         
            .custom-navbar { 
                .nav-logo { 
                    margin-left: 10px;
                    width: 45%;
                    img {
                        width: 100px;
                        height: 30px;
                    }
                }
                .meue-names { 
                   
                    .items { 
                        width: 50%;
                        span {
                            font-size: 10px;
                            margin-left: 12px;
                        }
                    }
                }
            }
        }   
        }
 




        














        //sayem


        @import url("https://fonts.googleapis.com/css?family=Titillium+Web");
        * {
          font-family: "Titillium Web", sans-serif;
        }
        body {
          height: 2000px;
        }
        .navbar .navbar-brand {
          font-size: 30px;
        }
        .navbar .nav-item {
          padding: 10px 20px;
        }
        .navbar .nav-link {
          font-size: 20px;
          margin-left: 10px;
        }
        .fa-bars {
          color: #323232;
          font-size: 30px;
        }
        